.git/
.husky/
**/.turbo/
.vscode/
**/node_modules/
**/out/
**/dist/
**/coverage/
**/test?
.commitlintrc.json
.editorconfig
**/.env*
.gitignore
.lintstagedrc.json
**/.prettierrc.json
**/eslint.config.js
**/.mocharc.json
**/*.tsbuildinfo
